body{
    /*background-color: #ccc;*/
}
.content {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.show-info-user {
    width: 400px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.show-form-user {
    text-align: left;
}